<h1 class="card__header">Employee list</h1>
<div class="card__content">
  <ul class="table" role="table" *ngIf="data$ | async as data; else empty">
    <li class="grid table__header">
      <span>Id</span>
      <span>Name</span>
      <span>Email</span>
      <span></span>
    </li>
    <li *ngFor="let employee of data" class="grid">
      <span>{{ employee.personalNumber }}</span>
      <span>{{ employee.name }}</span>
      <span>{{ employee.mail }}</span>
      <button (click)="onRemove(employee.personalNumber)">Remove</button>
    </li>
  </ul>

  <ng-template #empty> <span class="info">There is no data</span> </ng-template>
</div>
