:host {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: var(--employee-container-width);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  img {
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
  }
}
