/* You can add global styles to this file, and also import other style files */
:root {
  --employee-container-width: clamp(10rem, 100%, 75rem);
  --clr-primary: rgb(0, 0, 139);
  --clr-primary-rgb: 0, 0, 139;
}

html {
  font-size: 67.5%;
}

body {
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
