/* You can add global styles to this file, and also import other style files */
html {
  font-size: 67.5%;
}

body {
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
